# Week 3 Assignment
## Part 1: making table (10 marks)

In [2]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

### Reading dataset from wikipedia page

In [3]:
#df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)[0]
#df.head()

res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table), header=0)[0]
#df = pd.DataFrame(df)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
len(df)

289

### Removing rows with 'Not assigned' Boroughs

In [5]:
df = df[df['Borough'] != 'Not assigned'].reset_index(drop=True)
print(len(df))

212

77 rows has been removed!

In [6]:
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [31]:
gdf = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x)).reset_index()
gdf.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

Next, we Check which neighbourhoods are 'Not assigned' and try renaming them to their boroughs

In [32]:
ind = gdf[gdf['Neighbourhood'] == 'Not assigned'].index.values
gdf.iloc[ind]

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

In [33]:
for i in ind:
    gdf.at[i,'Neighbourhood'] = gdf.at[i,'Borough']

In [34]:
gdf.iloc[ind]

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

In [35]:
gdf.head(12)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough                  Guildwood, Morningside, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough                                  Maryvale, Wexford

In [36]:
gdf.shape

(103, 3)